<% if user_signed_in? %>
  <li><%= @user.first_name %>&nbsp;<%= @user.last_name %></li>
  <hr>
  <li>
  <%= link_to('Edit registration', edit_user_registration_path) %>
  </li>
<% else %>
  <li>
  <%= link_to('Register', new_user_registration_path)  %>
  </li>
<% end %>