
h2 h4 {
    text-align: center;
}


.article-date,
.article-title {
    text-align:center;
    margin-top: 10px;
}

.glyphicon {
    font-size: 1.5em;
    margin-right: 10px;
}

.article-controls a:hover {
    background: none;
    color: #eee;
    
}

.article-container {
    background: #f8f8f8;
    padding: 30px 33px 40px 33px;
    border-bottom: 1px solid #f1f1f1;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #ccc;
    margin: 25px 0px 0px 0px;
}

.articles-list :last-child {
    margin-bottom: 5px;
}

.article-image {
    clear: both;
    margin: 20px 0;
    text-align: center;
}

.article-image img {
    width: 550px;
    margin: 0 auto;
}

.article-image-main img {
    width: 800px;
    margin: 0 auto;
}

.article-body {
    margin-top: 40px;
}

.sidebar-container {
    background: #f8f8f8;
    float: right;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #ccc;
    margin-top: 25px;
    
}

.show-article-button {
    width: 100%;
}

.add-edit-form {
    display: block;
    margin: 0 25px;
}

.add-edit-form .field input, textarea {
    width: 90%;
}

.add-edit-form .field textarea {
    height: 130px;
}

@media only screen and (max-width : 768px) {
    .sidebar-container {
        background: #f1f1f1;
        float: none;
    }
}